@tailwind base;
@tailwind components;
@tailwind utilities;

.old-price {
  @apply line-through text-gray-700 text-2xl;
}

.new-price {
  @apply text-red-600 text-lg;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
